<% layout('layout') -%>
<% script('js/app.js') -%>
<% stylesheet('css/styles.css') -%>
<h1>I am the <%=title%> template</h1>
<% block('header', "<p>I'm in the header.</p>") -%>
<% block('footer', "<p>I'm in the footer.</p>") -%>